<h1>{{actionType}} Usuário</h1>
<form [formGroup]="form" (ngSubmit)="salvarUsuario()" #formDir="ngForm" novalidate>
  <div class="form-group row">
    <label class=" control-label col-md-12">Nome</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="nome">
    </div>
    <span class="text-danger ml-3" *ngIf="nome.invalid && formDir.submitted">
      O Nome é obrigatório.
    </span>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Sobrenome</label>
    <div class="col-md-12">
      <input class="form-control" type="text" formControlName="sobrenome">
    </div>
    <span class="text-danger ml-3" *ngIf="sobrenome.invalid && formDir.submitted">
      O Sobrenome é obrigatório.
    </span>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">E-Mail</label>
    <div class="col-md-12">
      <input class="form-control" type="email" formControlName="email">
    </div>
    <span class="text-danger ml-3" *ngIf="email.invalid && formDir.submitted">
      Favor informar um e-mail válido
    </span>
  </div>
  <div class="form-group row">
    <label class=" control-label col-md-12">Data de Nascimento</label>
    <div class="col-md-12">
        <input class="form-control" type="text" formControlName="dataNascimento" maxlength="10">
  </div>
    <span class="text-danger ml-3" *ngIf="dataNascimento.invalid && formDir.submitted">
      A Data de nascimento é inválida ou maior que a data atual.
    </span>
  </div>
  <div class="form-group row" *ngIf="(escolaridadeLista | async)?.length > 0">
    <label class=" control-label col-md-12">Escolaridade</label>
    <div class="col-md-12">
      <select class="form-control" type="text" formControlName="escolaridade" id= "escolaridade">
        <option *ngFor="let escolaridades of escolaridadeLista | async" [value]="escolaridades.id">
          {{escolaridades.descricao}}
        </option>
      </select>
    </div>
    <span class="text-danger ml-3" *ngIf="escolaridade.invalid && formDir.submitted">
      A Escolaridade é obrigatória.
    </span>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-success float-right">Salvar</button>
    <button class="btn btn-secondary float-left" (click)="cancelar()">Cancelar</button>
  </div>
</form>